.products{
    width: 100%;
}
.product-item1, .product-item2 {
    background-size: cover;
}

.products-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item1,
.product-item2 {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.product-item1 h3 {
    align-self: flex-start;
    color: #EB9003;
}


.product-item1 a {
    background: #EB9003;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    width: 140px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 0 35px 0 35px;
    font-weight: bolder;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.404);
    cursor: pointer;
}
.product-item1 p {
    color: #D2B44F;
}
.product-item2 h3 {
    align-self: flex-start;
    color: #452306;
}

.product-item2 a {
    background: #8F674C;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    width: 140px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 0 35px 0 35px;
    font-weight: bolder;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.404);
    cursor: pointer;
}
.product-item2 p {
    color: #8F674C;
}